<section (click)="acessar()">
    <img src="https://t.ctcdn.com.br/OTQN5tojMmojvCmTibJLoRGopxI=/i490060.jpeg" alt="Image Test">

    <div class="second-content">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu varius sapien. Mauris faucibus pretium lacus vel rhoncus. Phasellus commodo fermentum magna, a vehicula erat ultrices a. Suspendisse pretium ligula lorem, pellentesque tempor risus semper vitae. Mauris maximus scelerisque leo vel luctus</p>
    </div>
    
</section>