.navigation{
    display: flex;
    justify-content: center;
}

.navigation > .links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation > .links a{
    text-decoration: none;
    font-size: 1.5rem;
}

li{
    margin: 15px;
}

.navigation > .links a:hover{
    color: rgb(116, 0, 0);
}



.navigation > .links li{
    list-style-type: none;
}


/* MEDIA QUERRY */

/* TABLETS */
@media (min-width: 768px) {
    .navigation{
        display: inline;
    }

    .navigation > .links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 30px 0px;
    }

    li{
        margin: 0;
    }

}
